
<div>
      <accordion      [closeOthers]="oneAtATime"> <!--Abrir fora e fechar fora do md-list para poder deixar apenas um aberto por vez-->
      <md-list-item   *ngFor="let requirement of requirementsx; let odd=odd; let even=even" 
                      class="md-3-line md-long-text requirement"
                      [class.selected]="requirement === selectedRequirement" 
                      (click)="onSelect(requirement)">

        <div class="md-list-item-text rq_list" [ngClass]="{ odd: odd, even: even }">
            <h3>{{requirement.rq_id}}</h3>    
            <p><b>Requirement: </b> {{requirement.rq_requirement}} </p>

         

            
            <accordion-group #group [isOpen]="status.open">
              <div accordion-heading>
                    Complete desciption of {{requirement.rq_id}}
                    <i  class="pull-right glyphicon"
                        [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
              </div>
            
                      <div *ngIf="selectedRequirement">
                        <p><b>Problems in The Teaching of Programming:</b>
                        <a class="list_modal" *ngFor="let progproblem of requirement.rq_prog_prob; let i=index; let isLast=last"  (click)="onClickProgProblem(progproblem,ProgProblemModal)">{{progproblem}}{{isLast ? '' : ', '}}</a></p>                        
                        <p><b>Modality(ies) or Origem:</b> {{selectedRequirement.rq_modality}} </p>
                        <p><b>Modifications for M-learning:</b> {{selectedRequirement.rq_ml_modification}} </p>
                        <p><b>Type of Category:</b> {{selectedRequirement.rq_type_cat}} </p>
                        <p><b>Educational Theory(ies) Envolved:</b>
                        <a class="list_modal" *ngFor="let theory of requirement.rq_theories; let i=index; let isLast=last"  (click)="onClickTheory(theory,TheoryModal)">{{theory}}{{isLast ? '' : ', '}}</a></p>
                        <p><b>Requirement Subcategory(ies):</b> {{selectedRequirement.rq_subcategory}} </p>            
                        <p><b>Description:</b> {{selectedRequirement.rq_description}} </p>
                        <p><b>Cross Reference (Requeriments):</b> {{selectedRequirement.rq_cross_reference}} </p>
                        <p><b>Type of Variability:</b> {{selectedRequirement.rq_variability}} </p>
                       
                      </div>

            </accordion-group>
        </div>


      </md-list-item>   
      </accordion>



    <div bsModal #TheoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <div class="modal-header">
                    <button type="button" class="close" (click)="TheoryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">
            

                    <p><b>Theory Id: </b>{{theoriesx.et_id}}</p>
                    <p><b>Type: </b>{{theoriesx.et_type}}</p>
                    <p><b>Name: </b>{{theoriesx.et_name}}</p>
                    <p><b>Acroym: </b>{{theoriesx.et_acronym}}</p>
                    <p><b>Description: </b>{{theoriesx.et_description}}</p>
                    <p><b>Theoretician(s): </b>{{theoriesx.et_theoretician}}</p>
                    <p><b>Year of Creation: </b>{{theoriesx.et_year}}</p>
                    <p><b>Related Theory(ies): </b>{{theoriesx.et_relationship}}</p>
                    <p><b>Reference: </b>{{theoriesx.et_bibliography}}</p>                                                
            
              </div>
        </div>
      </div>
    </div>


    <div bsModal #ProgProblemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <div class="modal-header">
                    <button type="button" class="close" (click)="ProgProblemModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">

                    <p><b>Programming Problem Id: </b>{{progproblmesx.pg_id}}</p>
                    <p><b>Category: </b>{{progproblmesx.pg_category}}</p>
                    <p><b>Description: </b>{{progproblmesx.pg_description}}</p>    
                                              
            
              </div>
        </div>
      </div>
    </div>    

</div>      

  