.rq_list{
      padding: 5px;
}


.list_modal{
      cursor: pointer;
}

.even { 
      background-color: rgb(230,230,230); 
}

.odd { 
      background-color: white; 
}


/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
                  .modal-body{
                  height: 400px;
                  overflow-y: auto;
                  }


        @media (max-width: 768px) {
                  .modal-body{
                  height: 200px;
                  overflow-y: auto;
                  }
 
        }

.modal{   
    position: relative; 
    top: 0;
    right:0; 
    left: auto; 
    overflow: auto;
    }