

    <div>
      <md-list-item *ngFor="let requirement of requirementsx" class="md-3-line md-long-text">
        <div class="md-list-item-text teste">
          <h3>{{requirement.rq_id}}</h3>    
            <p>prog_prob: {{requirement.rq_prog_prob}} </p>
            <p>modality: {{requirement.rq_modality}} </p>
            <p>ml_type: {{requirement.rq_ml_type}} </p>
            <p>ml_modification: {{requirement.rq_ml_modification}} </p>
            <p>type_cat: {{requirement.rq_type_cat}} </p>
            <p>theories: {{requirement.rq_theories}} </p>
            <p>subcategory: {{requirement.rq_subcategory}} </p>
            <p>requirement: {{requirement.rq_requirement}} </p>
            <p>description: {{requirement.rq_description}} </p>
            <p>cross_referencue: {{requirement.rq_cross_reference}} </p>
            <p>variability: {{requirement.rq_variability}} </p>

  <p>Selected Value: <span class="radioValue">{{data.default}}</span></p>
  <md-radio-group  [(ngModel)]="data.default" [ngModelOptions]="{standalone: false}">
              <md-radio-button value="1" class="md-primary" >1</md-radio-button>
              <md-radio-button value="2" class="md-primary">2</md-radio-button>
              <md-radio-button value="3" class="md-primary">3</md-radio-button>
              <md-radio-button value="4" class="md-primary">4</md-radio-button>
              <md-radio-button value="5" class="md-primary">5</md-radio-button>
            
            </md-radio-group>
       <p> <md-input placeholder="Observações" style="width: 100%"></md-input> </p>
       
        </div>
      </md-list-item>    
      </div>

