

    <div>
      <accordion      [closeOthers]="oneAtATime"> <!--Abrir fora e fechar fora do md-list para poder deixar apenas um aberto por vez-->
      <md-list-item   *ngFor="let requirement of requirementsx" 
                      class="md-3-line md-long-text requirement"
                      [class.selected]="requirement === selectedRequirement" 
                      (click)="onSelect(requirement)">
        <div class="md-list-item-text rq_list">
            <h3>{{requirement.rq_id}}</h3>    
            <p><b>Requirement: </b> {{requirement.rq_requirement}} </p>

         

            
            <accordion-group>
              <div  accordion-heading>
                    Complete desciption of {{requirement.rq_id}}
                    <i  class="pull-right glyphicon"
                        [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
              </div>
            
                      <div *ngIf="selectedRequirement">
                        <p><b>Problemas no Ensino de Programação:</b> {{selectedRequirement.rq_prog_prob}} </p>
                        <p><b>Modalidade(s) de Origem:</b> {{selectedRequirement.rq_modality}} </p>
                        <p><b>Modificações para M-learning:</b> {{selectedRequirement.rq_ml_modification}} </p>
                        <p><b>Tipo de Categoria:</b> {{selectedRequirement.rq_type_cat}} </p>
                      <b>Teorias Educacionais Envolvidas:</b>  
                        <button md-button layout-padding layout="row"  layout-align="start end"  *ngFor="let theory of requirement.rq_theories" (click)="gotoDetail()" class="md-raised">{{theory}}</button>
                        <a *ngFor="let theory of requirement.rq_theories" href="http://www.w3schools.com">{{theory}}</a>
              
                        <p><b>Subcategorias do Requisito:</b> {{selectedRequirement.rq_subcategory}} </p>            
                        <p><b>Descrição:</b> {{selectedRequirement.rq_description}} </p>
                        <p><b>Referência Cruzada (Requisitos):</b> {{selectedRequirement.rq_cross_reference}} </p>
                        <p><b>Tipo de Variabilidade:</b> {{selectedRequirement.rq_variability}} </p>
                        <button (click)="gotoDetail()">View Details</button>
                      </div>

            </accordion-group>
        </div>


      </md-list-item>   
      </accordion>

    </div>      

  